<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>CovergenAPI by Miracleio</title>
	<link rel="stylesheet" href="./assets/css/main.css">
</head>

<body>
	<main class="w-full prose m-auto">
		<section>
			<div class="wrapper">
				<header>
					<h1>CovergenAPI by Miracleio</h1>
					<p>
						CovergenAPI is a simple API to generate cover images for your website.
					</p>
					<p>
						<a href="https://miracleio.me" target="_blank">Miracleio</a>
					</p>
				</header>
			</div>
		</section>

		<section>
			<div class="wrapper">
				<header>
					<h2>Current endpoints</h2>
				</header>

				<ul>
					<li>
						<div class="wrapper">
							<h3><a href="/screenshot/miracleio.me" target="_blank"
									rel="noopener noreferrer">/screenshot/miracleio.me</a></h3>
							<!-- <pre> -->
							<pre>
{
	"targetURL": "https://cover-gen.netlify.app/",
	"document": {
			"title": "I’m a huge fan of Nuxt",
			"description": "I was excited to try it out ASAP",
			"updatedAt": "2",
			"slug": "Nuxt-huge-fan"
	}
}									</pre>
							<!-- </pre> -->
						</div>
					</li>
				</ul>
			</div>
		</section>

	</main>
</body>

</html>